
<h1>BULK FORM</h1>
<p>Enter your json string</p>

 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= form_tag("/feeds/bulk_form", method: "post")  do %>
  <%= text_area_tag "feeds"  %>
  <%= submit_tag "Save" %>
<% end %>

<%= link_to 'Back', feeds_path %>

<%= @params.inspect %>