
<h1>HEALTHCHECK</h1>
<p>Latest post of every feed</p>

<div class="adminView">
  <table>
    <% @feeds.each do |feed| %>
      <tr>
        <td style="line-height:1.4em;">
          <a href="<%= posts_path(:by => feed["_id"]) %>" >
            &nbsp;<%=feed["_id"] %>
          </a>
        </td>
        <td><%= feed["lastDate"] %></td>
        <td><%= Time.zone.at( feed["lastDate"].to_i ).strftime("%B %d, %Y") %> </td>
        <td>
          <a href="<%=feed["postPermalinkUrl"] %>" >
            <%= feed["postTitle"] %>
          </a>
        </td>
      </tr>
      <% end %>
  </table>
</div>
