  <div id="footer">
    <ul>
      <li><a href="https://medium.com/@techtronium/techtronium-startup-news-in-a-simpler-format-703483d628d1#.ryy2ydld4">About</a></li>
      <li><a href="<%=explore_path() %>"><span class="fa fa-rocket"></span> Explore</a></li>
      <li><a href="http://medium.com/@techtronium">Blog</a></li>
      <li><a href="<%=page_path('tos' ) %>">Terms</a></li>
      <li><a href="<%=page_path('privacy' ) %>">Privacy</a></li>
    </ul>
  </div>