<div id="header">
    <div id="brand">
      <a href="<%=posts_path()%>">
        <%= image_tag("logo.svg", :id => "logo") %>
        <%= image_tag("wordmark.svg", :id => "wordmark") %>
        <span id="tagline"><%= Rails.configuration.site[:tagline] %></span>
        <span id="shorttagline"><%= Rails.configuration.site[:shorttagline] %></span>
      </a>

    </div>

    <div id="tools">
        <span class="tool" id="highlightOrb">
            <a href="javascript:void(0)">
              <span id="highlightedCounter"></span>
              <i id="highlightPulse" class="fa fa-star-o"></i>
              <i class="fa fa-star fa-lg" style="line-height: 1.4em;"></i>
            </a>
        </span>
        <span class="tool <%= 'selected' if current_page?(settings_path)  %>">
          <a href="<%=settings_path()%>">

            <i class="fa fa-gear fa-lg" style="line-height: 1.4em;"></i>
          </a>
        </span>
    </div>
</div>
