<div id="sidebar">
    <div id="sidebarContent">
        Fresh news from hundreds of web companies<br><br>
        No votes.<br><br>
        No gossip.<br><br>
        No comments.<br><br>
        No speculation.<br><br><br><br><br><br>

        <div id="tagsSidebar" class="group">
          Tags:
            <span><%=link_to "All", posts_path %></span>
            <% Rails.configuration.site[:tags].each do |tag| %>
                <span ><%=link_to tag, posts_path(:tag => tag) %></span>
            <% end %>
        </div>
        
        <!-- 
        <div class="meter">
          <a href="<%=new_donation_path()%>"><span style="width: 38%"></span></a>
        </div>
          
        <div class="donationBar"><span class="donationLevel"></span></div>
        <p style="text-align:center;">
          <a href="<%=new_donation_path()%>" style="text-decoration:underline;">
            Donate to keep us running. <br><br>
            We need $100/month.
          </a>
        </p> -->
        
    </div>
</div>
