<div id="main" class="group">
    <div id="content">
        <%= render "shared/header" %>

        <h1>Settings</h1>

        <div class="page">
          <p>Your settings are saved in the browser. Yay! You don't need to create an account!</p><br><br>

          <div id="settings_favorites">
            <h2>Favorites</h2>

            <ul style="max-height: 300px; overflow: scroll;">
            <% @feeds.each do |feed| %>
              <li class="group" data-feed="<%=feed.id %>">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star"></i>

                <a href="<%= posts_path(:by => feed.title ) %>" >
                  &nbsp;<%=feed.title %>
                </a>
              </li>
            <% end %>
            </ul>
          </div>

        </div>

        <%= render "shared/footer" %>

    </div>

    <%= render "shared/sidebar" %>

</div>
