<div id="main" class="group">
    <div id="content">

      <%= render "shared/header" %>

      <h1>Privacy Policy</h1><br>

        <div class="page">
          <p>Updated : January 1, 2016</p>


          <h2>What information do we collect? </h2>

          <p>We collect information from you when you visit our site, basically visitor analytics.</p>

          <h2>Do we use cookies? </h2>

          <p>Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information</p>

          <p>We use cookies to help us remember and save your preferences for future visits, keep track of advertisements and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors.</p>

          <h2>Your Consent </h2>

          <p>By using our site, you consent to our online privacy policy.</p>

          <h2>Changes to our Privacy Policy </h2>

          <p>If we decide to change our privacy policy, we will post those changes on this page. </p>

      </div>

      <%= render "shared/footer" %>

  </div>

  <%= render "shared/sidebar" %>

</div>
