<div id="main" class="group">
    <div id="content">

      <%= render "shared/header" %>

      
      <h1>Thanks for your donation!</h1><br>

      <div class="page">
          
      </div>

      <%= render "shared/footer" %>

  </div>

  <%= render "shared/sidebar" %>

</div>


