<div id="tags" class="group">
  Tags:
    <span><%=link_to "All", posts_path %></span>
    <% Rails.configuration.site[:tags].each do |tag| %>
        <span ><%=link_to tag, posts_path(:tag => tag) %></span>
    <% end %>
</div>

<script type="text/javascript">
  $("#tags span a").click(function(e){
    var tagName = $(this).text();
    mixpanel.track("click tag", {
        "referrer": document.referrer,
        "tag": tagName
    });    
  })
</script>