<div id="main" class="group">
    <div id="content">
        <%= render "shared/header" %>

        <% #= params.inspect %>
        <% #= @today.to_date %>

        <% if params[:tag] %>
          <h1><%= params[:tag] %></h1>
        <% end %>

        <% if params[:by] && @posts.length() > 0%>
          <h1 class="author_title" id="<%= @posts[0]["feed_id"] %>" ><%= params[:by] %>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
          </h1>
        <% end %>

        <ul id="posts" class="<%='postsBy' if params[:by] %>">
          <%
          date = Date.parse('20141231').beginning_of_day + 1.day
            @posts.each do |post|

              #if date > post.published.to_i... show date or not
              if (date.to_date != Time.zone.at(post.published.to_i).to_date && !params[:by])
                date = Time.zone.at(post.published.to_i) %>
                <li class="date">
                  <%= date.strftime("%B %d, %Y") %>
                </li>
              <%end%>

                <li class="posts" data-feed="<%= post["feed_id"] %>">
                  <a class="postTitle" href="<%=post.permalinkUrl%>"><%=post.title%></a>

                  <% if !params[:by] %>
                  <a class="feed_title"
                    id="<%= post["feed_id"] %>"
                    href="<%= posts_path(:by => post.feed_fields['title'] ) %>"
                  >

                    <%= post.feed_fields["title"] %>

                    <a class="external-button" target="_blank" href="<%=post.permalinkUrl%>">
                        <i class="fa fa-external-link"></i>
                    </a>
                    
                    
                  <% end %>

                  </a>
                </li>
          <%  end # end for items_each%>
        </ul>

        <div class="pagination">
            <%= link_to_next_page @posts, 'Next Page', params: {:tag => params["tag"], :by => params["by"]}, :class => "button" %>
        </div>


        <%= render "menu", object: @tags %>

        <%= render "shared/footer" %>

        <div>
          <% if user_signed_in? %>
              Welcome to <%= Rails.env %>,<%=  current_user.email %>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% end %>
        </div>

    </div>

    <%= render "shared/sidebar" %>

</div>

<script type="text/javascript">
  $("#posts .feed_title").click(function(){
    var feedTitle = $(this).text();
    mixpanel.track("click feed", {
        "referrer": document.referrer,
        "feed": feedTitle
    });    
  })
  
  $(".pagination a").click(function(){
    mixpanel.track("click next", {
        "referrer": document.referrer
    });    
  })  
</script>
