@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import "compass";

/* RESET */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* apply a natural box layout model to all elements, but allowing components to change */
html, div, span, a {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


/* VARIABLES */
// #751E75
$darkest-color  : #241833;
$accent-color  :  #6A4CA6;  /*//#B433B4; //#974399;*/
$light-main: #838391;
$lightest-color: #fff;
$font-family : Raleway, sans-serif;


/*GENERAL*/
html{
    color:$darkest-color; /*#21212B;*/
    font-family: $font-family;
    font-weight: lighter;
    font-size: 15px;
}

body{
    width: 100%;
    margin: 0 auto;
}

a{
    color:inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.8em;
    line-height: 1.8em;
    background-color: $accent-color;
    display: inline-block;
    padding: 0 6em 0 25px;
    color: #fff;
    margin-bottom: 1em;
    margin-top: 1em;

    .fa{
        cursor:pointer;
    }
    .fa-star{
        display: none;
    }
    .fa-star-o{
        display: inline;
    }

    &.highlighted{
        .fa-star{
            display: inline;
        }
        .fa-star-o{
            display: none;
        }
    }
}
h2 {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.8em;
    margin: 0 0 0.5em;
}


/*ELEMENTS*/
#main{
    overflow:hidden;
    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+75,000000+75,000000+75,000000+100
    background-color: #ffffff; // Old browsers
    @include background-image(linear-gradient(left,  #ffffff 0%,#ffffff 75%,$darkest-color  75%,$darkest-color  75%,$darkest-color  100%));

}
#header{
    height:  60px;
    padding: 0 20px;
    overflow: hidden;

    #brand{
        float: left;
        margin-top: 10px;
        a{
            display: inline-block;
        }
        #logo{
            height: 50px;
            display: inline-block;
            float: left;
            box-sizing: border-box;
        }
        #wordmark{
            height: 30px;
            margin: 14px 0 0 14px;
            float: left;

        }
        #tagline{
    float: left;
    /* padding-top: 34px; */
    /* padding-left: 20px; */
    margin: 30px 0 0 10px;
        }
        #shorttagline{
            display: none;
        }
    }

}



#content{
    width: 75%;
    float: left;
    background: #fff;
    .page{
        //background: lightyellow;
        padding:0 20px;

        p{
          line-height: 1.5em;
          margin-bottom: 1em;
        }
    }
    #posts{
        list-style-type: none;
        padding: 0;
        background: #fff;
        margin-bottom: 1em;
        line-height: 1.2em;

        &.postsBy li:first-of-type{
          border-top: 1px solid #dadada !important;
        }
        li{
            padding: 0.7em 1em ;
            cursor: pointer;
            position: relative;
            a{
                color: inherit;
                text-decoration: none;
                &:visited{
                    color:#D3D0D5;
                }
            }

            a.feed_title{
                color: $light-main;
                font-size: 14px;
                padding: 0 0.5em;
                display: inline-block;
                border: 1px solid rgba(0,0,0,0);
                &:hover{
                    text-decoration: underline;
                }

            }
            .external-button{
               color:#D3D0D5;
               vertical-align: top;
               font-size: 0.8em;
               &:hover{
                 color:#838391;
               }
            }

            &.highlighted{
                @include background-image(linear-gradient(to right, $accent-color, $accent-color 0.5em, #ffffff 0.5em, #ffffff));
                &:hover{}
            }
            &.posts{
            border-bottom: 1px solid #dadada;
            }
            &.date{
                color:$accent-color;
                font-weight: normal;
                padding: 3em 1em 0.5em;
                border-bottom: 1px solid #dadada;
            }
            &.date:first-of-type {
               padding-top: 1em;
            }

            &.date:hover{
                background: #fff;
                cursor: default;
            }
        }
    }

}

.tag{
  display: inline;
  margin-right: 1em;
  /* margin-bottom: 1em; */
  margin-top: 7px;
  border-radius: 0.2em;
  padding: 0 0.5em;
  color: #fff;
  background: #fff;
  line-height: 1.2em;
  float: right;
  color: #bababa;
  border: 1px solid #f0f0f0;
}
#tags{
    padding: 1em 1em;
    display: none;
    span{
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 1em;
        border-radius: 0.2em;
        padding: 0.3em 0.5em;
        color: #fff;
        background: #B0A8B5;
        &:hover{
            color: #fff;
            position: relative;
            background: $accent-color;
        }
    }
}


#sidebar{
    float:right;
    //position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: $darkest-color;
    font-family: $font-family;


    #tagsSidebar span{
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 1em;
        border-radius: 0.2em;
        padding: 0.3em 0.5em;
        color: #fff;
        background: #B0A8B5;
        &:hover{
            color: #fff;
            position: relative;
            background: $accent-color;
        }
    }
    
    #sidebarContent{
      color:#fff;
      padding: 20px 20px;
    }
    li{
        width: 100%;
        display:table;
        height: 100%;
        border-bottom: 1px solid #fafafa;
        &.graphic{
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #464646;
        }
        &:last-of-type {
           border-bottom:none;
        }
        div{
           vertical-align: middle;
           position: relative;;
           display: table-cell;
           padding: 1em;
           font-weight: normal;
           font-size: 1.1em;
           line-height: 1.3em;
           color:#fff;
        }

        &.graphic div{
            background: rgba(0,0,0,0.3);
            text-shadow: 0 0 3px rgba(0,0,0,0.4);
        }

        div span{
            position: absolute;
            top: 1em;
            left: 1em;
            font-size: 1em;
        }
    }
    #sponsored{
        background: rgba(255,255,255, 0.8);
        color: rgb(27, 26, 27);
        position: absolute;
        bottom: 0;
        padding: 0.3em 0.4em 0.2em;
        font-size: 0.7em;
        right: 0;
        border-radius: 2px 0 0;
        z-index: 1;
    }
}

#footer{
    padding: 25px 15px;
    margin-top: 30px;
    ul{
        li{
            display: inline-block;
            margin-right: 1em;
        }
    }
}

.button{
    border-radius: 2em;
    border: 2px solid $accent-color;
    color: $lightest-color;
    background: $accent-color;
    display: inline-block;
    padding: 1em 1em;
    text-decoration: none;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    .fa-rocket, .fa-caret-right{
      margin-left: 1em;
      font-size: 1.5em
    }
    &.width50{
      width: 40%;
    }
    &.secondary{
      color: $accent-color;
      background: $lightest-color;
      border-color: $accent-color;
    }
    &.short{
      width: auto;
    }
}

#tools{
    float: right;
    margin-right: -20px;
    padding-top: 0em;
    color: $light-main;
    height: 100%;
    border: 0px;
    .tool{
        border-radius: 0;
        font-size: 1em;
        cursor: pointer;
        position: relative;
        width: 50px;
        height: 100%;
        float: left;
        display: inline-block;
        text-align: center;
        margin: 0;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        &.selected{
            background: $accent-color;
            color:#fff;
        }

        a{
            height: 60px;
            display: inline-block;
            width: 50px;
            line-height: 60px;
            text-align: center;
            margin: 0;
            display: table-cell;

        }
    }



}
#highlightOrb{

    #highlightPulse {
        width: 50px;
        line-height: 60px;
        text-align: center;
        margin: 0;
        -webkit-animation: pulsate 2s ease-out;
        -webkit-animation-iteration-count: infinite;
        opacity: 0.0;
        /* box-sizing: border-box; */
        position: absolute;
        left: 0;
        font-size: 33px;
    }

    .fa-star{
      display: none;
    }

    &.selected{
        #highlightedCounter,
        #highlightPulse {
            display:none;
        }
        .fa-star{
          display: inline-block;
        }
    }
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.5, 0.5); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1, 1); opacity: 0.0;}
}

.notification{
    border-radius: 1em;
    height: 2em;
    width: 2em;
    line-height: 1.8em;
    text-align: center;
    display: inline-block;
    font-family: sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
}

.pagination{
    padding:2em;
}

//SETTINGS//

#settings_favorites{
    li{
        line-height: 2.3em;
        border-bottom:1px solid #dadada;
        .fa{
            cursor: pointer;
        }

        .fa-star{display: none;}
        .fa-star-o{display: inline;}
      &.highlighted{
        .fa-star{display: inline;}
        .fa-star-o{display: none;}
      }
    }
}


//SETTINGS END//


//ADMIN//
.notice{
    background: red;
    color:#ff;
}
.adminView td a{
  display: list-item;
  &:hover{
    background: $accent-color;
    color:#fff;
  }
}

//ADMIN END//
@media screen and (max-width: 850px) {
  #main{
    background-image: none;
  }
    #header{
        height: 60px;
        padding: 0 20px;
        border-bottom: 1px solid #ccc;
        #brand {
            #wordmark{
                height: 25px;
                margin-top: 8px;
            }
            #tagline{
                margin-top: 19px;
                //padding-top: 35px;
            }
        }


    }
    #sidebar {
        display: none;
        width: 0%;
    }
    #tags{
      display: block;
    }
    #content {
        width: 100%;
        #posts li .fa-twitter{
           font-size: 1em;
        }
    }

    #tools{
        .tool{
            width: 50px;
            border-bottom: 0px;
        }
    }

}

@media screen and (max-width: 600px) {
  
  #content #posts li .external-button{
     font-size: 1.1em;
   }
  
    h1{
        background-color: #fff;
        display: block;
        padding: 0px 15px 0 15px;
        color: $accent-color;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #header{
        height:50px;
    }

    #header #brand {
        #wordmark{
            height: 20px;
            position: absolute;
            top: 0px;
            margin-left: 10px;
        }
        #logo{
            height: 40px;
            margin-left: -10px;
            margin-top: -4px;
        }
        #tagline{
            position: absolute;
            left: 55px;
            top: 13px;
            font-size: 14px;
        }
    }


    #highlightOrb #highlightPulse{
        line-height: 50px;
    }
    #tools{
        .tool{
            a{
                height: 50px;
                display: inline-block;
                line-height: 50px;
            }
        }
    }


}



@media screen and (max-width: 400px) {

    #header #brand {
        #wordmark{
            height: 18px;
        }
        #tagline{
            display:none;
        }

        #shorttagline{
            display: block;
            font-size: 14px;
            position: absolute;
            left: 65px;
            padding: 0;
            top: 31px;
        }
    }
    #footer ul li{
      margin-right: 0.4em;
    }
}

.meter { 
  height: 1em;
  background: $lightest-color;
  border-radius: 25px;
  padding: 1px;
  margin: 10px;
  
  span {
    display: block;
    height: 100%;
    border-radius: 25px 8px 8px 25px;
    background-color: $accent-color;
    position: relative;
    overflow: hidden;
  }
}