<div id="main" class="group">
    <div id="content">
        <%= render "shared/header" %>

        <h1>Explore</h1>

        <div class="page">

          <div id="settings_favorites">

            <% @groups.each do |group, feedtitles| %>
            <h2>
              <a style="display:block" href="<%= posts_path(:tag => group ) %>" >
                <%= group %>
              </a>              
            </h2>
            <ul>
              <% feedtitles.each do |feedtitle| %>
              <li>
                <a style="display:list-item" href="<%= posts_path(:by => feedtitle ) %>" >
                  <%= feedtitle %>
                </a>
              </li>
              <% end %>
            </ul>
            <br><br>
            <% end %>
            
          </div>

        </div>

        <%= render "shared/footer" %>

    </div>

    <%= render "shared/sidebar" %>

</div>
